workflows/n8n-templates/build-processor.json
{
  "name": "App Factory - Build Processor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every Minute",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.DASHBOARD_URL || 'http://localhost:3000' }}/api/build/process",
        "options": {}
      },
      "id": "check-queue",
      "name": "Check Build Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.queue?.queued || 0 }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "has-jobs",
      "name": "Has Queued Jobs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DASHBOARD_URL || 'http://localhost:3000' }}/api/build/process",
        "options": {
          "timeout": 120000
        }
      },
      "id": "process-build",
      "name": "Process Build Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "build-success",
      "name": "Build Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "🚀 *App Built Successfully!*\n\n*Name:* {{ $json.appName }}\n*Location:* `{{ $json.appDir }}`\n\n*Next Steps:*\n1. `cd {{ $json.appDir }}`\n2. `npm install`\n3. `npm run dev`\n4. Deploy with `vercel deploy`"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-success",
      "name": "Notify Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 100],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{ $env.TELEGRAM_CHAT_ID }}"
            },
            {
              "name": "text",
              "value": "❌ *Build Failed*\n\n{{ $json.error || 'Unknown error' }}"
            },
            {
              "name": "parse_mode",
              "value": "Markdown"
            }
          ]
        },
        "options": {}
      },
      "id": "notify-failure",
      "name": "Notify Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 300],
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Every Minute": {
      "main": [
        [
          {
            "node": "Check Build Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Build Queue": {
      "main": [
        [
          {
            "node": "Has Queued Jobs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Queued Jobs?": {
      "main": [
        [
          {
            "node": "Process Build Job",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Process Build Job": {
      "main": [
        [
          {
            "node": "Build Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Successful?": {
      "main": [
        [
          {
            "node": "Notify Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "meta": {
    "instanceId": "app-factory-v4"
  }
}
